<?xml version="1.0"?>
 <!--
 * @category    Neev
 * @package     Neev_Gaevent
-->
<config>
    <modules>
        <Neev_Gaevent>
            <version>0.1.0</version>
        </Neev_Gaevent>
    </modules>
    <frontend>
        <routers>
            <gaevent>
                <use>standard</use>
                <args>
                    <module>Neev_Gaevent</module>
                    <frontName>gaevent</frontName>
                </args>
            </gaevent>
        </routers>
        <layout>
            <updates>
                <gaevent>
                    <file>gaevent.xml</file>
                </gaevent>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<gaevent>
				<use>admin</use>
				<args>
					<module>Neev_Gaevent</module>
					<frontName>gaevent</frontName>
				</args>
			</gaevent>
        </routers>
    </admin>
    <adminhtml>
		<!--<menu>
			<gaevent module="gaevent">
				<title>Gaevent</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="gaevent">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>gaevent/adminhtml_gaevent</action>
					</items>
				</children>
			</gaevent>
		</menu> -->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Neev_Gaevent>
							<title>Gaevent Module</title>
							<sort_order>10</sort_order>
						</Neev_Gaevent>
                           <system>
                            <children>
                                <config>
                                    <children>
                                        <gaevent_options>
                                            <title>Google Analytics Event Tracking</title>
                                        </gaevent_options>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<gaevent>
					<file>gaevent.xml</file>
				</gaevent>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <gaevent>
                <class>Neev_Gaevent_Model</class>
                <resourceModel>gaevent_mysql4</resourceModel>
            </gaevent>
            <gaevent_mysql4>
                <class>Neev_Gaevent_Model_Mysql4</class>
                <entities>
                    <gaevent>
                        <table>gaevent</table>
                    </gaevent>
                </entities>
            </gaevent_mysql4>
        </models>
        <resources>
            <gaevent_setup>
                <setup>
                    <module>Neev_Gaevent</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gaevent_setup>
            <gaevent_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gaevent_write>
            <gaevent_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gaevent_read>
        </resources>
        <blocks>
            <gaevent>
                <class>Neev_Gaevent_Block</class>
            </gaevent>
        </blocks>
        <helpers>
            <gaevent>
                <class>Neev_Gaevent_Helper</class>
            </gaevent>
        </helpers>
        <events>
            <admin_system_config_changed_section_gaevent_options>
                <observers>
                    <gaevent>
                        <type>singleton</type>
                        <class>gaevent/observer</class>
                        <method>createGaJsFile</method>
                    </gaevent>
                </observers>
            </admin_system_config_changed_section_gaevent_options>
            <admin_system_config_changed_section_google>
                <observers>
                    <gaevent>
                        <type>singleton</type>
                        <class>gaevent/observer</class>
                        <method>enableDisableGaevent</method>
                    </gaevent>
                </observers>
            </admin_system_config_changed_section_google>
        </events>
    </global>
</config>